<div class="well well-sm container-fluid">
    <div class="row">
		
			<!-- STORE NUMBER -->
			<div class="col-md-3">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm">Store Number</span>
						<input type="text" 
							   class="form-control input-sm" 
							   data-ng-model="newResource.store_number.value" 
							   placeholder="ie: 001"/>
					</div>
				</div>
			</div>

			<!-- LICENSE NUMBER -->
			<div class="col-md-4">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm">License Number</span>
						<input type="text" 
							   name="license_number"
							   class="form-control input-sm" 
							   data-ng-model="newResource.license_number.value" 
							   placeholder="ie: 000000" disabled/>
						<span id="load-license_number" class="input-group-addon input-sm" style="display:none;">
							<i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
						</span>
					</div>
				</div>
			</div>
			
			<!-- MANUFACTURER NAME -->
			<div class="col-md-5">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm">Manufacturer Name</span>
						<input type="text" 
							   id="manufacturers" 
							   name="manufacturers" 
							   class="form-control input-sm" 
							   data-ng-model="newResource.manufacturers.value"/>
					</div>
				</div>
			</div>
			
			<!-- ESTABLISHMENT TYPE -->
			<div class="col-md-5">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm">Manufacturer Type</span>
						<div custom-select="e.id as e.value for e in $root.assets.manufacturers.establishment_types track by e.id" 
							 custom-select-options="customEstablishmentTypes"
							 data-ng-model="newResource.establishment_types.selected"></div>
					</div>
				</div>
			</div>

            <!-- WINERIES -->
            <div class="col-md-5" data-ng-show="newResource.establishment_types.selected.id === 1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">License Type</span>
                        <div 
							 custom-select="l.id as l.value for l in $root.assets.manufacturers.wineries track by l.id" 
							 custom-select-options="customLicenseSubTypes"
                             data-ng-model="newResource.license_sub_types.selected"></div>
                    </div>
                </div>
            </div>
			
            <!-- BREWERIES -->
            <div class="col-md-5" 
				 data-ng-show="newResource.establishment_types.selected.id === 2"
				 disabled="disabled">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">License Types</span>
                        <div custom-select="l.id as l.value for l in $root.assets.manufacturers.breweries track by l.id" 
							 custom-select-options="customLicenseTypes"
                             data-ng-model="newResource.license_types.selected" disabled="disabled"></div>
                    </div>
                </div>
            </div>

			<!-- DISTRIBUTORS -->
            <div class="col-md-5" 
				 data-ng-show="newResource.establishment_types.selected.id === 37"
				 disabled="disabled">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">License Types</span>
                        <div custom-select="l.id as l.value for l in $root.assets.manufacturers.license_types track by l.id" 
							 custom-select-options="customLicenseSubTypes"
                             data-ng-model="newResource.license_types.selected" disabled="disabled"></div>
                    </div>
                </div>
            </div>
			
            <!-- DISTILLERIES -->
            <div class="col-md-5" data-ng-show="newResource.establishment_types.selected.id === 3">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">License Type</span>
                        <div custom-select="l.id as l.value for l in $root.assets.manufacturers.distilleries track by l.id" 
							 custom-select-options="customLicenseSubTypes"
                             data-ng-model="newResource.license_sub_types.selected"></div>
                    </div>
                </div>
            </div>
			
			<div class="col-md-2">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">Auto Invoicing</span>
					<span class="input-group-addon">
						<input type="checkbox" 
							   class="form-control input-sm"
							   data-ng-model="newResource.auto_invoicing.value" 
							   data-ng-true="1" 
							   data-ng-false="0"/>
					</span>
				</div>
			</div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Manufacturer Address</h5>
        <div class="row">
            <!-- MANUFACTURER STREET -->
			<div class="col-md-12">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm">Street</span>
                        <input type="text" id="street"
                               class="form-control input-sm" 
                               data-ng-model="newResource.full_address.street.value" 
                               placeholder=" 8385 Fraser Street" required/>
                        <!--
						<div custom-select="s as s.value for s in asyncAddressing($searchTerm) track by $index" 
							 custom-select-options="resourceAddressingOptions" 
							 data-ng-model="newResource.full_address.street"
							 style="width:100%;" required>
							<div class="media" style="border-bottom: 1px dotted #ccc;">
								<div class="media-left" style="margin:2px auto;">
								</div>
								<div class="media-body">
									 <h5 class="media-heading text-capitalize">{{ s.value }}</h5>
									<address>
										<small><em>
											{{ s.city }}, {{s.state}} {{s.zipcode}}
											</em></small>
									</address>
								</div>
							</div>
						</div>
                        -->
					</div>
				</div>
			</div>

            <!-- MANUFACTURER MUNICIPALITY -->
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">City/Municipality</span>
                        <div custom-select="c as c.value for c in asyncResource($searchTerm, 'cities') track by $index" 
                             custom-select-options="customCityOptions" 
                             data-ng-model="newResource.full_address.city" 
                             style="width: 100%;">
                            <div class="media" style="border-bottom: 1px dotted #ccc;">
                                <div class="media-left" style="margin:2px auto;"></div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{c.value}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MANUFACTURER PROVINCE -->
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">State/Province</span>
                        <div custom-select="s as s.value for s in asyncResource($searchTerm, 'provinces') track by $index" 
                             custom-select-options="customProvinceOptions"  
                             data-ng-model="newResource.full_address.province" 
                             style="width: 100%;">
                            <div class="media" style="border-bottom: 1px dotted #ccc;">
                                <div class="media-left">
                                    <img data-ng-src="images/flags/{{s.abbr}}.png" style="width:25px; heigth: 20px;" />
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{s.value}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MANUFACTURER ZIPCODE -->
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">Zip/Postal Code</span>
                        <input type="text" 
                               class="form-control input-sm" 
                               data-ng-model="newResource.full_address.zipcode"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- OPENING CLOSING HOURS -->
	<div class="col-md-6">
		<div class="col-md-12">
			<h5>Hours of Operation</h5>
			<div class="row-fluid">
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group"
							 moment-picker="newResource.opens_at.value"
							 format="hh:mm:ss A" 
							 validate="true"
							 min-date"''" 
							 max-date="''">
							<span class="input-group-addon input-sm">Opens:</span>
							<input class="form-control input-sm"
								   placeholder="Select a time"
								   data-ng-model="newResource.opens_at.value" 
								   ng-model-options="{ updateOn: 'blur' }">
							<span class="input-group-addon input-sm"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group"
							 moment-picker="newResource.closes_at.value"
							 format="hh:mm:ss A" 
							 min-date"''" 
							 max-date="''">
							<span class="input-group-addon input-sm">Closes:</span>
							<input class="form-control input-sm"
								   placeholder="Select a time"
								   data-ng-model="newResource.closes_at.value" 
								   ng-model-options="{ updateOn: 'blur' }">
							<span class="input-group-addon input-sm"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <!-- DELIVERY DAYS -->
        <div class="col-md-12">
            <h5>Delivery Days</h5>
            <div class="row-fluid">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[1].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Mon</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[2].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Tues</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[3].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Wed</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[4].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Thu</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[5].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Fri</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="checkbox" 
                                       data-ng-model="newResource.delivery_days.value[6].deliver"/>
                            </span>
                            <span class="input-group-addon input-sm">Sat</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>