<div class="well well-sm container-fluid">
    <div class="row-fluid">
        <div class="col-md-4">
            <!-- LOCATIONS -->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-sm">locations</span>
                    <div custom-select="e.id as e.value for e in $root.assets.locations.locations track by e.id" 
                         data-ng-model="newResource.locations.selected"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">            
            <!-- ESTABLISHMENT TYPE -->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-sm">Establishment Type</span>
                    <div custom-select="e.id as e.value for e in $root.assets.locations.establishment_types track by e.id" 
                         data-ng-model="newResource.establishment_types.selected"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">            
            <!-- ESTABLISHMENT -->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-sm">Establishments</span>
                    <div custom-select="e.id as e.value for e in $root.assets.locations.establishments track by e.id" 
                         data-ng-model="newResource.establishments.selected"></div>
                </div>
            </div>
        </div>
    </div>
</div>